*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/pattern.webp");
}
.box{
    width: 1200px;
    height: 400px;
    background-color: #555;
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.box img{
    width: 500px;
}