*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 700px;
    height: 400px;
    background-color: #999;
    /* overflow: hidden;  */
    overflow-y: scroll;
    /* overflow-x: scroll; */
}
.myimage{
    width: 500px;
    border-radius: 40px;
    transition: all 1000ms;
    opacity: 0.3;
}
.myimage:hover{
    border-radius: 100px;
    opacity: 1;
}
.box2{
    width: 500px;
    height: 300px;
    background-color: lightcoral;
    padding: 20px;
    box-sizing: border-box;
}
.circle{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: lightgreen;
    margin-bottom: 1000px;
}