/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    /* body{
        background-color: pink;
    } */
 }

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /* body{
        background-color: yellow;
    } */
 }

 /* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* body{
        background-color: blue;
    } */
    .project-card{
        width: 33.333333%;
    }
}

 /* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* body{
        background-color: green;
    } */
    .project-card{
        width: 50%;
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* body{
        background-color: red;
    } */
    .project-card{
        width: 100%;
    }
 }
