/* :root{
  --color1 : #fa3;
} */
#projects {
  background-color: #999;
  text-align: center;
  /* background:var(--color1); */
}
.section-title {
  padding: 40px 0px;
  font-size: 2rem;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
}
.project-card {
  border: 1px solid #000;
  width: 25%;
  flex-shrink: 0;
  min-height: 100px;
  font-size: 3rem;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style-type: none;
  border: 1px solid #000;
  margin: 10px;
  padding: 0px 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
nav > ul > li:hover {
  background-color: orangered;
  color: #fff;
}
nav > ul > li:hover .dropdown-container {
  display: block;
}
.dropdown-container {
  position: absolute;
  background-color: #fff;
  right: -1px;
  top: 100%;
  z-index: 99;
  display: none;
}
.dropdown-container ul {
  display: flex;
  flex-direction: column;
  width: max-content;
  border-top: 2px solid orangered;
}
.dropdown-container li {
  list-style-type: none;
  padding: 0px 20px;
  cursor: pointer;
  transition: all 0.5s;
  color: #000;
}
.dropdown-container li:hover {
  background-color: orangered;
  color: #fff;
}
.swiper {
  width: 100%;
  height: max-content;
}
.swiper img {
  width: 100%;
  aspect-ratio: 24/5;
}
.my-container {
  max-width: 1920px;
  margin: 0 auto;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
.swiper-button-next,
.swiper-button-prev {
  background: rgba(0, 0, 0, 0.5);
  width: 45px;
  transition: all 500ms;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}
.swiper-button-next {
  left: 0 !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.swiper-button-prev {
  right: 0 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.8) !important;
}
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.8) !important;
}
