#projects{
    background-color: #999;
    text-align: center;
}
.section-title{
    padding: 40px 0px;
    font-size: 2rem;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
}
.project-card{
    border: 1px solid #000;
    width: 25%;
    flex-shrink: 0;
    min-height: 100px;
    font-size: 3rem;
}