*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 1000px;
    background-color: lightcoral;
    text-align: center;
    font-size: 36px;
}
.box2{
    width: 600px;
    height: 300px;
    background-color: lightgreen;
    margin:20px auto;
}
.inner-box{
    margin-top: 10px;
    border: 1px solid #000;
    width: 50%;
    height: 50%;
    background-color: lightcoral;
}
.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: red;
}
.modal{
    width: 600px;
    height: 50%;
    background-color: #FFF;
    margin: 0 auto;
    border-radius: 30px;
}