#hero-section {
    width: 300px;
    height: 200px;
    background-color: aquamarine;
}

#another-section {
    width: 300px;
    height: 200px;
    background-color: lightcoral;
}

.title {
    background-color: red;
}sgsdghsd