* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 40px;
}
.box {
  background-color: blueviolet;
  width: 500px;
  height: 500px;
  border: 20px solid black; /*solid|dashed|dotted|double*/

  /* padding: 25px !important; */
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
  padding: 0px 35px 10px 5px; /*shorthand*/
  padding: 10px 20px;
  padding-bottom: 0px;
}
.card {
  background-color: #999;
  width: 400px;
  height: 650px;
}
#mybox {
  margin: 0 auto;
}
