/* :root{
  --color1 : #fa3;
} */
#projects {
  background-color: #999;
  text-align: center;
  /* background:var(--color1); */
}
.section-title {
  padding: 40px 0px;
  font-size: 2rem;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
}
.project-card {
  border: 1px solid #000;
  width: 25%;
  flex-shrink: 0;
  min-height: 100px;
  font-size: 3rem;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style-type: none;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}
nav > ul > li a {
  color: #000;
  text-decoration: none;
}
nav > ul > li i {
  font-size: 0.7rem;
  transition: all 300ms;
}
nav > ul > li.active > a {
  color: var(--color-primary);
}
nav > ul > li:hover > a {
  color: var(--color-primary);
}
nav > ul > li:hover i {
  transform: rotate(180deg);
  color: var(--color-primary);
}
nav > ul > li:hover .dropdown-container {
  opacity: 1;
  top: 100%;
  z-index: 99;
}
.dropdown-container {
  position: absolute;
  background-color: #fff;
  right: -1px;
  top: calc(100% + 10px);
  opacity: 0;
  z-index: -99;
  transition: all 300ms;
  pointer-events: auto;
  width: 200px;
}
.dropdown-container ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid orangered;
}
.dropdown-container li {
  list-style-type: none;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 300ms;
  color: #000;
}
.dropdown-container li:hover {
  background-color: #efefef;
  padding-right: 23px;
}
.dropdown-container li:hover a {
  color: var(--color-primary);
}
/*swiper:start=========================>*/
#hero-section .swiper {
  width: 100%;
  height: 500px;
}
#hero-section .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}
#hero-section .my-container {
  max-width: 1920px;
  margin: 0 auto;
}
#hero-section .swiper-button-next,
#hero-section .swiper-button-prev {
  color: #fff;
}
#hero-section .swiper-button-next,
#hero-section .swiper-button-prev {
  background: rgba(0, 0, 0, 0.5);
  width: 45px;
  transition: all 500ms;
}
#hero-section .swiper-button-next::after,
#hero-section .swiper-button-prev::after {
  font-size: 20px;
}
#hero-section .swiper-button-next {
  left: 0 !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#hero-section .swiper-button-prev {
  right: 0 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#hero-section .swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.8) !important;
}
#hero-section .swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.8) !important;
}
/*swiper:end=========================>*/
.bg-video {
  height: auto;
  width: 100%;
}

.slider-description {
  position: absolute;
  width: 400px;
  background-color: #fff;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}



#ourteam .swiper {
  width: 100%;
}
/* #ourteam .swiper-slide:nth-child(odd){
  background-color: lightcoral;
}
#ourteam .swiper-slide:nth-child(even){
  background-color: lightblue;
} */
#ourteam .person-image{
  max-width: 100%;
}
#ourteam .person-job-position{
  color:var(--color-primary);
}

/*BEGIN::SEARCH-BOX======================================*/
.search-box{
  position: absolute;
  width:70%;
  transform:translateX(50%);
  height:100%;
  background-color:#FFF;
  z-index:999;
  top:0;
  right:50%;
  display:none;
}
.search-box.active{
  display:block;
}
#close-search-box,#open-search-box{
  cursor: pointer;
}
#header-search-box input[type='text']{
  border:none;
  font-size:1.3rem;
}
#header-search-box input[type='text']:focus{
  outline: none;
}
/*END::SEARCH-BOX======================================*/