*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}
.btn{
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-family: sans-serif;
    background-color: lightcoral;
    text-align: center;
    margin: 10px auto;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #FFF;
    cursor: pointer;
    border: 2px solid #fff;
    transition:all 500ms;
}
.btn:hover{
    background-color: lightseagreen;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}